@model List<GameVote.Domain.ViewModels.GamesForTitlePage>
<!DOCTYPE html>
<html lang="en">
    <body>
        <section>
            <container>
                <div class="header">
                    <img class="logo" src="/Image/Logo.jpg" alt="">
                    <a href="oproekte">О проекте</a>
                    
                                                    <!--asp-route-order="name:Base"
                                                   asp-route-returnUrl="@Context.Request.Path"
                                                   -->
                        Главная
                    </a>
                    <button class="login" value="Войти" style="font-size: 100px 40px 100px 100px"
                            asp-controller="Account"
                            asp-action="Login"/>
                    <text></text>
                </div>
                <div class="games">
                    <table class="tabelgames">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><div><a><img src="~/Image/Games/@item.ImgGame" width="480" height="270" alt="@item.Name" /></a></div></td>
                                <td>@item.Name</td>
                                <td>@item.Id</td>
                                <td><a href="@item.UrlOfficialSaitGame">Купить</a></td>
                                <td>@Html.ActionLink("Детали", "GamesById", new { id = item.Id})</td>
                                
                            </tr>
                           <tr></tr>
                        }
                    </table>
                </div>
                            </container>
        </section>
    </body>
</html>