@model GameVote.Domain.DTO.DTOGemeById

<div>
    <h4>DTOGemeById</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinAge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinAge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModeGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModeGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeriesGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlOfficialSaitGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlOfficialSaitGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgGame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgGame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlatformId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlatformName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlatformDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlatformDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenreDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenreDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeveloperId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeveloperDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
